[Unit]
Description=Run LIVE SPOtCH archive worker periodically

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
